
= form_with model: @user, url: user_registration_path, local: true do |f|
  %h1 ユーザー登録
  %li 名前
  = f.text_field :name, autofocus: true 
  %li アカウント名
  = f.text_field :nickname
  %li メールアドレス
  = f.email_field :email
  %li プロフィール画像URL 
  = f.text_field :image
  -if @sns_id.present?
    = hidden_field_tag :sns_auth, true
  -else
    -# %li パスワード
    -# = f.password_field :password 
    -# %li 確認用パスワード
    -# = f.password_field :password_confirmation 
  = f.submit "登録する"
  - if @user.errors.any?
    %ul
      - @user.errors.full_messages.each do |message|
        %li= message


-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .actions
-#     = f.submit "Sign up"
-# = render "devise/shared/links"
