.wrapper
  .Regist
    .Regist__wrapper
      = form_with model: @user, url: user_registration_path, class: "Regist__inner", local: true do |f|
        %h1 この内容で登録します
        %li 名前
        = f.text_field :name, autofocus: true 
        %li アカウント名
        = f.text_field :nickname
        %li メールアドレス
        = f.email_field :email
        %li プロフィール画像URL 
        = f.text_field :image
        -if @sns_id.present?
          = hidden_field_tag :sns_auth, true
        -# -else
        -#   %li パスワード
        -#   = f.password_field :password 
        -#   %li 確認用パスワード
        -#   = f.password_field :password_confirmation 
        = f.submit "登録する", class: "submit-btn"
        - if @user.errors.any?
          %ul
            - @user.errors.full_messages.each do |message|
              %li= message
    = render partial: "shared/side_bar"
