.Footer 
  .Footer__contents 
    = link_to "#", class: "Footer__content" do
      = icon("fas", "house-user", class: "menu-icon home-icon")
    = link_to "#", class: "Footer__content" do
      = icon("fas", "user-alt", class: "menu-icon user-icon")
    = link_to "#", class: "Footer__content" do
      = icon("fas", "calendar-alt", class: "menu-icon calender-icon")
    = link_to "#", class: "Footer__content" do
      = icon("fas", "plus", class: "menu-icon plus-icon")
