.Header
  .Header__left 
    = link_to "つながるサロン村(仮)", root_path, class: "Header__left--link"
  .Header__right
    = link_to "#", class: "Header__right--collect" do
      = icon("fas", "search", class: "search-icon")
    = link_to "#", class: "Header__right--menu" do
      %span.menu-line.line1
      %span.menu-line.line2
      %span.menu-line.line3
.Cover

.Menu
  - if user_signed_in?
    = current_user.name
    = button_to "ログアウト", destroy_user_session_path, method: :delete
  - else 
    = link_to "ログイン", new_user_session_path 
    = link_to "新規登録", new_user_path 