.Side-bar
  
  .Side-bar__images
    %h2.Side-bar__images--title ・おすすめ
    = link_to "https://qiita.com/", class: "side-link", target: :blank, rel: "noopener noreferrer" do
      Qiita
      .image-wrapper
        = image_tag "qiita.png", alt: "qiita", class: "side-image"
    = link_to "https://teratail.com/", class: "side-link", target: :blank, rel: "noopener noreferrer" do
      teratail
      .image-wrapper 
        = image_tag "tera.png", alt: "teratail", class: "side-image"
    = link_to "https://github.com/", class: "side-link", target: :blank, rel: "noopener noreferrer" do
      GitHub
      .image-wrapper
        = image_tag "github.jpg", alt: "github", class: "side-image"
    = link_to "https://fontawesome.com/", class: "side-link", target: :blank, rel: "noopener noreferrer" do
      fontawesome
      .image-wrapper
        = image_tag "fa.png", alt: "fontawesome", class: "side-image"
    = link_to "http://dwsm.zero0802.com/", class: "side-link", target: :blank, rel: "noopener noreferrer" do
      チームスケジューラー
      .image-wrapper
        = image_tag "dwsm.jpg", alt: "dwsm", class: "side-image"