.wrapper
  .Create-wrapper
    .Create
      .Create-title
        %h2 イベント登録
      = form_with model: @event, local: true do |f|
        .Create__name
          %li.Create__name--label
            イベント名
            %span.require 必須
          = f.text_field :name, class: "name-field event-form"
        .Create__exp
          %li.Create__exp--label
            イベント概要
            %span.require 必須
          = f.text_area :explanation, class: "exp-field event-form"
        .Create__env
          %li.Create__env--label
            オフライン/オンライン
            %span.require 必須
          = f.collection_select(:enviroment_id, Enviroment.all, :id, :name, {},{class: "env-field event-form"})
        .Create__schedule
          .Create__schedule--date
            %li.Create__schedule--date-label
              開催日
              %span.require 必須
            = f.date_field :start_at, class: "date-field event-form"
          .Times-div
            .Create__schedule--stime
              %li.Create__schedule--stime-label
                開始時刻
                %span.require 必須
              = f.time_select :start_time, {default: Date.today }, class: "time-field event-form"
            .Create__schedule--ftime
              %li.Create__schedule--ftime-label 終了時刻
              = f.time_select :finish_time, {default: Date.today}, class: "time-field event-form"
        .Create__place
          %li.Create__place--label
            開催場所/URL
            %span.require 必須
          = f.text_field :place, class: "place_field event-form"
        .Create__image 
          %li.Create__image--label イメージ画像
          = f.file_field :image, class: "image-field event-form", id: "filename"
          %label{for: "filename"}
            %span.browse_btn 画像を選ぶ
        = f.submit "作成", class: "submit-btn  event-form"
    = render partial: "shared/side_bar"
  .Footer-cover